/* .about{
    height: 80%;
    background-image: url(../../Images/aboutUs2.jpg);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 5%;
    padding-bottom: 5%;
} */